<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard | Stock Price Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/h&f.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="nav-logo">
                <img src="../static/images/logo.png" alt="">
                <div class="logo-text">
                    <p id="text-1">Stock</p>
                    <p id="text-2">Price</p>
                    <p id="text-3">Prediction</p>
                </div>
            </div>
            <div class="nav-empty"></div>
            <div class="nav-link">
                <a href="dashboard">Dashboard</a>
                <a href="index.html">Logout</a>
            </div>
        </div>
    </header>

    <main>
        <div class="wrapper">
            
        </div>
    </main>

    <footer>
        <div class="copyrights">
            <p>All rights reserved | &copy Stock Price Prediction</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/controller.js"></script>
</body>

</html>